* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;}

a {outline: none;}
ul,ol {list-style: none;}

/*--------------Fonts--------------*/
@font-face {
  font-family: "OpenSans-light";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;}

/* Helpers */
.text-center {text-align: center;}
.right {float: right;}
.left {float: left;}

.clearfix:after {
  content: "";
  clear: both;
  display: table;}

.container {
  margin: 0 auto;
  width: 806px;}

.headline {
  background-color: #ff8533;
  color: #fff;
  display: inline-block;
  font-size: 35px;
  padding: 0.2em 0.6em;}
/*-------------------------------*/

body {
  background-color: #fff9f2;
  color: #2c2b2b;
  font-family: "OpenSans-light", Arial, sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 80px;}

.homeSlide {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;}

.logo-wrapper {
  position: relative;
  height: 100px;
  width: 50px;}

.logo-wrapper .main-logo {
  position: absolute;
  transition: opacity 0.5s ease 0s;
  top: 25px;
  left: 0;}

.logo-wrapper .main-logo.alt {
  opacity: 0;}

.logo-wrapper:hover .main-logo {
  opacity: 0;}

.logo-wrapper:hover .main-logo.alt {
  opacity: 1;}

.main-logo {
  background: url("../images/main_logo.png") no-repeat center top;
  display: inline-block;
  height: 50px;
  width: 50px;}

.main-logo.alt {
  background-position: center bottom;}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 100;}

#intro {background-image:url('../images/header-bg.jpg')}

#intro .headline:nth-of-type(1) {margin: 220px 5% 0;}
#intro .headline:nth-of-type(2) {margin: 60px 5% 0 24%;}
#intro .headline:nth-of-type(3) {margin: 60px 5% 0 61%;}

@media (min-width:769px) and (max-width:1280px) {
  #intro .headline:nth-of-type(2) {margin-left: 15%;}
  #intro .headline:nth-of-type(3) {margin-left: 50%;}
}

/*----- Nav bar toggle menu -----------*/
.nav-toggle {
  cursor: pointer;
  display: none;
  padding: 18px;}

.nav-toggle .icon-bar {
  background-color: #ff8533;
  height: 4px;
  margin-top: 4px;
  transition: background-color 0.5s ease 0s;
  width: 24px;}

.nav-toggle:hover .icon-bar {
  background-color: #fff;}

.main-nav {
  background-color: rgba(0,0,0,0.7);
  padding: 0 5%;}

@media (min-width:769px) {
  .main-nav-links {display: block !important;}
}

.main-nav-links > a {
  color: #ff8533;
  display: inline-block;
  font-size: 18px;
  padding: 38px 20px;
  text-decoration: none;
  transition: color 0.5s ease 0s;}

.main-nav-links > a:hover {color: #fefefe;}

#why-us {padding-top: 120px;margin-bottom: 135px;}

/*------------ Happy steps ------------*/
.happy-steps {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;}

.happy-step {
  position: relative;
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;}

.happy-step + .happy-step {
  margin-left: 3.75%;}

.happy-step + .happy-step:before {
  content: "";
  background: url("../images/arrow.png") no-repeat center center;
  position: absolute;
  left: -30px;
  top: 24px;
  height: 33px;
  width: 17px;}

.happy-step p {
  font-size: 20px;
  margin-top: 15px;}

.icon-wrapper {min-width: 112px;}

.icon-bulb {
  background: url("../images/sample-icons.png") no-repeat left top;
  display: inline-block;
  width: 90px;
  height: 90px;}

.icon-note {
  background: url("../images/sample-icons.png") no-repeat -87px top;
  display: inline-block;
  width: 85px;
  height: 90px;}

.icon-hammer {
  background: url("../images/sample-icons.png") no-repeat -172px top;
  display: inline-block;
  width: 46px;
  height: 90px;}

.icon-cogs {
  background: url("../images/sample-icons.png") no-repeat -220px top;
  display: inline-block;
  width: 112px;
  height: 90px;}

.icon-s {
  background: url("../images/sample-icons.png") no-repeat -332px top;
  display: inline-block;
  width: 75px;
  height: 90px;}

#tools {background-image: url("../images/tools-bg.jpg");}
#tools .headline {margin-top: 104px;}

.tools {
  background-color: rgba(0,0,0,0.7);
  margin-top: 80px;
  min-height: 172px;
  padding-top: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;}

.tools .item {
  -webkit-flex-grow: 1;
  flex-grow: 1;}

.partners {
  background-color: rgba(0,0,0,0.7);
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-top: 60px;}

.partners .item {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 20px 10px;}

#testimonials {padding-top: 145px;margin-bottom: 145px;}

.quote {
  display: inline-block;
  padding: 0 3%;
  width: 33%;}

.quote-text {
  color: #ff8533;
  font-size: 20px;}

.quote-text:before {content: "«";}
.quote-text:after {content: "»";}

.quote-line {
  border: none;
  border-top: 1px solid #ff8533;
  margin: 8px 22px;}

.quote-author {
  line-height: 1.2;
  font-size: 15px;}

#contact-us { background-image: url("../images/contact-us-bg.jpg");
  overflow: hidden;}

.contacts {
  background-color: #ff8533;
  box-shadow: 0 15px 15px rgba(0,0,0,0.8);
  color: #fff;
  font-size: 20px;
  text-align: left;
  padding: 50px 30px;
  margin: 215px 0 0 157px;
  width: 470px;}

.contacts address {margin-bottom: 30px;}

.light-logo {
  background: url("../images/logo_footer.png") no-repeat center center;
  display: inline-block;
  height: 83px;
  width: 64px;}

.main-footer {
  background-color: #030303;
  color: #fff;
  padding: 30px 0 17px;}

.team {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;}

.team-member {margin-top: 40px;}

.team-member + .team-member {margin-left: 3.125%;}

.team-member img {
  border-radius: 100%;
  border: 2px solid #fff;}

.member-name {
  font-size: 15px;
  margin-top: 5px;}

.socials {margin-top: 50px;}

.social-icon {
  display: inline-block;
  height: 30px;
  width: 30px;}

.social-icon + .social-icon {margin-left: 23px;}

.icon-twitter {
  background: url("../images/social-icons.png") no-repeat -5px center;}

.icon-facebook {
  background: url("../images/social-icons.png") no-repeat -40px center;}

.icon-skype {
  background: url("../images/social-icons.png") no-repeat -75px center;}

.icon-linkedin {
  background: url("../images/social-icons.png") no-repeat -110px center;}

.icon-github {
  background: url("../images/social-icons.png") no-repeat -145px center;}

.icon-elance {
  background: url("../images/social-icons.png") no-repeat -180px center;}

.copyright {
  font-size: 12px;
  font-weight: bold;
  margin-top: 25px;}

/* ====================== Portfolio carousel ==============*/
.carousel-control {z-index: 1}

.portfolio {height: 650px;}

.carousel-inner {height: 100%;}

.carousel-inner .item {
  background-position: center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  float: none;
  height: 100%;}

.portfolio [class*=-arrow] {
  color: #ff8533;
  cursor: pointer;
  font-size: 4em;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  z-index: 100;}

.left-arrow {left: 7%;}

.right-arrow {right: 7%;}

.portfolio-desc {
  background: #ff8533;
  color: #fff;
  position: absolute;
  top: 247px;
  left: 15.625%;
  padding: 40px 70px 45px 30px;
  font-size: 18px;
  width: 400px;}

.portfolio-title {
  font-size: 25px;}

.portfolio-desc p {
  margin-top: 25px;
  line-height: 28px;}

.portfolio-tools {
  margin-top: 15px;
  font-size: 30px;}

.portfolio-tools .fa + .fa {
  margin-left: 15px;}
