@media (max-width: 768px) {
  /*------------ Header ------------*/
  .logo-wrapper {height: 60px;}

  .logo-wrapper .main-logo {top: 5px;}

  .nav-toggle {display: block;}

  .main-nav-links {
    clear: both;
    display: none;
    float: none;
    margin: 0 -5%;}

  .main-nav-links > a {
    display: block;
    padding: 10px 5%;}

  .main-nav-links > a:hover {background-color: rgba(255, 132, 51, 0.57);}

  /*------------ Footer ------------*/
  .team {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  .team-member {
    flex: 1 0 33%;
    -webkit-flex: 1 0 33%;
  }

  .team-member + .team-member {
    margin-left: 0;
  }
}
