* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;}

a {outline: none;}

/*--------------Fonts--------------*/
@font-face {
  font-family: "OpenSans-light";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;}

/* Helpers */
.text-center {text-align: center;}
.right {float: right;}
.left {float: left;}

.container {
  margin: 0 auto;
  width: 806px;}

.headline {
  background-color: #ff8533;
  color: #fff;
  display: inline-block;
  font-size: 35px;
  padding: 6px 20px 8px;}
/*-------------------------------*/

body {
  background-color: #fff9f2;
  color: #2c2b2b;
  font-family: "OpenSans-light", Arial, sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: normal;
  margin-bottom: 80px;}

.main-logo {
  background: url("../images/logo_header.png") no-repeat center center;
  height: 50px;
  width: 50px;}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 100;}

.main-header .main-logo {margin-top: 25px;}
#slide-1 .headline:nth-of-type(1) {margin: 120px 0 0 6%;}
#slide-1 .headline:nth-of-type(2) {margin: 60px 0 0 24%;}
#slide-1 .headline:nth-of-type(3) {margin: 60px 0 0 61%;}

.main-nav {
  background-color: rgba(0,0,0,0.7);
  padding: 0 100px;
  height: 100px;
  overflow: hidden;}

.main-nav-links {
  margin-top: 36px;}

.main-nav a {
  color: #ff8533;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.5s ease 0s;}

.main-nav a:hover {color: #fefefe;}

.main-nav a + a {margin-left: 50px;}

#why-us {padding-top: 120px;margin-bottom: 135px;}

.happy-step {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
  width: 140px;}

.happy-step + .happy-step {
  margin-left: 60px;}

.happy-step + .happy-step:before {
  content: "";
  background: url("../images/arrow.png") no-repeat center center;
  position: absolute;
  left: -30px;
  top: 24px;
  height: 33px;
  width: 17px;}

.happy-step p {
  font-size: 20px;
  margin-top: 15px;}

.icon-bulb {
  background: url("../images/sample-icons.png") no-repeat left top;
  display: inline-block;
  width: 90px;
  height: 90px;}

.icon-note {
  background: url("../images/sample-icons.png") no-repeat -87px top;
  display: inline-block;
  width: 85px;
  height: 90px;}

.icon-hammer {
  background: url("../images/sample-icons.png") no-repeat -172px top;
  display: inline-block;
  width: 46px;
  height: 90px;}

.icon-cogs {
  background: url("../images/sample-icons.png") no-repeat -220px top;
  display: inline-block;
  width: 112px;
  height: 90px;}

.icon-s {
  background: url("../images/sample-icons.png") no-repeat -332px top;
  display: inline-block;
  width: 75px;
  height: 90px;}

#tools .headline {margin-top: 104px;}

.tools {
  background-color: rgba(0,0,0,0.7);
  margin-top: 80px;
  min-height: 172px;
  padding-top: 14px;
  display: flex;
  flex-direction: row;}

.tools .item {flex-grow: 1;}

.partners {
  background-color: rgba(0,0,0,0.7);
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  min-height: 70px;
  padding-top: 20px;}

.partners .item {flex-grow: 1;}

#testimonials {padding-top: 145px;margin-bottom: 145px;}

.quote {
  display: inline-block;
  width: 180px;}

.quote + .quote {margin-left: 130px;}

.quote-text {
  color: #ff8533;
  font-size: 20px;}

.quote-text:before {content: "«";}
.quote-text:after {content: "»";}

.quote-line {
  border: none;
  border-top: 1px solid #ff8533;
  margin: 8px 22px;}

.quote-author {
  line-height: 1.2;
  font-size: 15px;}

.contacts {
  background-color: #ff8533;
  box-shadow: 0 15px 15px rgba(0,0,0,0.8);
  color: #fff;
  font-size: 20px;
  text-align: left;
  padding: 50px 30px;
  width: 470px;}

.contacts address {margin-bottom: 30px;}

.light-logo {
  background: url("../images/logo_footer.png") no-repeat center center;
  display: inline-block;
  height: 83px;
  width: 64px;}

.main-footer {
  background-color: #030303;
  color: #fff;
  padding: 30px 0 17px;}

.team {margin-top: 40px;}

.team-member {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 104px;}

.team-member + .team-member {margin-left: 50px;}

.team-member img {
  border-radius: 100%;
  border: 2px solid #fff;}

.member-name {
  font-size: 15px;
  margin-top: 5px;}

.socials {margin-top: 50px;}

.social-icon {
  display: inline-block;
  height: 30px;
  width: 30px;}

.social-icon + .social-icon {margin-left: 23px;}

.icon-twitter {
  background: url("../images/social-icons.png") no-repeat -5px center;}

.icon-facebook {
  background: url("../images/social-icons.png") no-repeat -40px center;}

.icon-skype {
  background: url("../images/social-icons.png") no-repeat -75px center;}

.icon-linkedin {
  background: url("../images/social-icons.png") no-repeat -110px center;}

.icon-github {
  background: url("../images/social-icons.png") no-repeat -145px center;}

.icon-elance {
  background: url("../images/social-icons.png") no-repeat -180px center;}

.copyright {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  width: 84%;
  bottom: 0;}

/*-------------Easter Egg-------------*/
.crosshair {
  position: absolute;
  -webkit-animation: underthegun 7s infinite;
  animation: underthegun 7s infinite;
  transition: all 1s ease 0s;
  top: 10px;
  left: 13px;}

.crosshair .hr {
  background-color: darkred;
  width: 36px;
  height:2px;
  position: absolute;
  left: 0;
  top: 16px;
  border-radius: 50%;}

.crosshair .vr {
  background-color: darkred;
  width: 2px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 16px;
  border-radius: 50%;}

.crosshair .target {
  border: 2px solid darkred;
  border-radius: 100%;
  position: absolute;
  left: 9px;
  top: 9px;
  height: 16px;
  width: 16px;}

@keyframes underthegun {
  0% {top: 10px;left: 13px;}
  10% {top: 15px;left: 26px;}
  20% {top: 26px;left: 15px;}
  30% {top: 62px;left: 51px;}
  40% {top: 51px;left: 62px;}
  50% {top: 45px;left: 30px;}
  60% {top: 20px;left: 35px;}
  70% {top: 22px;left: 10px;}
  80% {top: 30px;left: 26px;}
  90% {top: 12px;left: 30px;}
  95% {top: 20px;left: 26px;}
  100% {top: 10px; left: 13px;}
}

@-webkit-keyframes underthegun {
  0% {top: 10px;left: 13px;}
  10% {top: 15px;left: 26px;}
  20% {top: 26px;left: 15px;}
  30% {top: 62px;left: 51px;}
  40% {top: 51px;left: 62px;}
  50% {top: 45px;left: 30px;}
  60% {top: 20px;left: 35px;}
  70% {top: 22px;left: 10px;}
  80% {top: 30px;left: 26px;}
  90% {top: 12px;left: 30px;}
  95% {top: 20px;left: 26px;}
  100% {top: 10px; left: 13px;}
}
